p { color: red;
    font-size: large;
    width: 100px;
    height: 22px; 
    border: solid yellow ;}

h1 {border: solid brown}
h1 {margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 30px;
    padding: 40px}

section {color: blueviolet;
        border: solid green;
        padding: 3px;}

section h1 {color: brown}
#Mi_parrafo {color:blue}
.estaesmiclase {color:yellow}